## Actividad 1.1

**Diego Matias Rossano | A01737509**

In [120]:
#Instalamos librería para análisis de variables categóricas
%pip install funpymodeling

Requirement already satisfied: funpymodeling in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (0.1.9)
Requirement already satisfied: flake8<7.0.0,>=6.0.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from funpymodeling) (6.1.0)
Requirement already satisfied: jupyter<2.0.0,>=1.0.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from funpymodeling) (1.1.1)
Requirement already satisfied: matplotlib<4.0.0,>=3.7.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from funpymodeling) (3.10.1)
Requirement already satisfied: numpy<2.0.0,>=1.26.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from funpymodeling) (1.26.4)
Requirement already satisfied: pandas<3.0.0,>=2.1.4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from funpymodeling) (2.2.3)
Requirement already satisfied: pre-commit<4.0.0,>=3.3.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from funpymodeling) (3.8.0)
Requirement already satisfied: pytest<8.0.0,>=7.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from funpymodeling) (7.4.4)
Requirement already satisfied: scikit-learn<2.0.0,>=1.2.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from funpymodeling) (1.6.1)
Requirement already satisfied: seaborn<0.13.0,>=0.12.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from funpymodeling) (0.12.2)
Requirement already satisfied: typing-extensions<5.0.0,>=4.6.3 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from funpymodeling) (4.12.2)
Requirement already satisfied: mccabe<0.8.0,>=0.7.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from flake8<7.0.0,>=6.0.0->funpymodeling) (0.7.0)
Requirement already satisfied: pycodestyle<2.12.0,>=2.11.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from flake8<7.0.0,>=6.0.0->funpymodeling) (2.11.1)
Requirement already satisfied: pyflakes<3.2.0,>=3.1.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from flake8<7.0.0,>=6.0.0->funpymodeling) (3.1.0)
Requirement already satisfied: notebook in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyter<2.0.0,>=1.0.0->funpymodeling) (7.3.3)
Requirement already satisfied: jupyter-console in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyter<2.0.0,>=1.0.0->funpymodeling) (6.6.3)
Requirement already satisfied: nbconvert in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyter<2.0.0,>=1.0.0->funpymodeling) (7.16.6)
Requirement already satisfied: ipykernel in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from jupyter<2.0.0,>=1.0.0->funpymodeling) (6.29.5)
Requirement already satisfied: ipywidgets in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyter<2.0.0,>=1.0.0->funpymodeling) (8.1.5)
Requirement already satisfied: jupyterlab in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyter<2.0.0,>=1.0.0->funpymodeling) (4.3.6)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->funpymodeling) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->funpymodeling) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->funpymodeling) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->funpymodeling) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from matplotlib<4.0.0,>=3.7.1->funpymodeling) (24.2)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->funpymodeling) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->funpymodeling) (3.2.2)
Requirement already satisfied: python-dateutil>=2.7 in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from matplotlib<4.0.0,>=3.7.1->funpymodeling) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas<3.0.0,>=2.1.4->funpymodeling) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas<3.0.0,>=2.1.4->funpymodeling) (2025.2)
Requirement already satisfied: cfgv>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pre-commit<4.0.0,>=3.3.2->funpymodeling) (3.4.0)
Requirement already satisfied: identify>=1.0.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pre-commit<4.0.0,>=3.3.2->funpymodeling) (2.6.9)
Requirement already satisfied: nodeenv>=0.11.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pre-commit<4.0.0,>=3.3.2->funpymodeling) (1.9.1)
Requirement already satisfied: pyyaml>=5.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pre-commit<4.0.0,>=3.3.2->funpymodeling) (6.0.2)
Requirement already satisfied: virtualenv>=20.10.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pre-commit<4.0.0,>=3.3.2->funpymodeling) (20.29.3)
Requirement already satisfied: iniconfig in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pytest<8.0.0,>=7.3.1->funpymodeling) (2.1.0)
Requirement already satisfied: pluggy<2.0,>=0.12 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pytest<8.0.0,>=7.3.1->funpymodeling) (1.5.0)
Requirement already satisfied: scipy>=1.6.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from scikit-learn<2.0.0,>=1.2.2->funpymodeling) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from scikit-learn<2.0.0,>=1.2.2->funpymodeling) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from scikit-learn<2.0.0,>=1.2.2->funpymodeling) (3.6.0)
Requirement already satisfied: six>=1.5 in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.7->matplotlib<4.0.0,>=3.7.1->funpymodeling) (1.17.0)
Requirement already satisfied: distlib<1,>=0.3.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from virtualenv>=20.10.0->pre-commit<4.0.0,>=3.3.2->funpymodeling) (0.3.9)
Requirement already satisfied: filelock<4,>=3.12.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from virtualenv>=20.10.0->pre-commit<4.0.0,>=3.3.2->funpymodeling) (3.18.0)
Requirement already satisfied: platformdirs<5,>=3.9.1 in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from virtualenv>=20.10.0->pre-commit<4.0.0,>=3.3.2->funpymodeling) (4.3.7)
Requirement already satisfied: appnope in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.1.4)
Requirement already satisfied: comm>=0.1.1 in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.2.2)
Requirement already satisfied: debugpy>=1.6.5 in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (1.8.13)
Requirement already satisfied: ipython>=7.23.1 in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (9.0.2)
Requirement already satisfied: jupyter-client>=6.1.12 in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (8.6.3)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (5.7.2)
Requirement already satisfied: matplotlib-inline>=0.1 in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.1.7)
Requirement already satisfied: nest-asyncio in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (1.6.0)
Requirement already satisfied: psutil in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (7.0.0)
Requirement already satisfied: pyzmq>=24 in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (26.3.0)
Requirement already satisfied: tornado>=6.1 in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (6.4.2)
Requirement already satisfied: traitlets>=5.4.0 in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (5.14.3)
Requirement already satisfied: widgetsnbextension~=4.0.12 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipywidgets->jupyter<2.0.0,>=1.0.0->funpymodeling) (4.0.13)
Requirement already satisfied: jupyterlab-widgets~=3.0.12 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipywidgets->jupyter<2.0.0,>=1.0.0->funpymodeling) (3.0.13)
Requirement already satisfied: prompt-toolkit>=3.0.30 in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from jupyter-console->jupyter<2.0.0,>=1.0.0->funpymodeling) (3.0.50)
Requirement already satisfied: pygments in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from jupyter-console->jupyter<2.0.0,>=1.0.0->funpymodeling) (2.19.1)
Requirement already satisfied: async-lru>=1.0.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (2.0.5)
Requirement already satisfied: httpx>=0.25.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.28.1)
Requirement already satisfied: jinja2>=3.0.3 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (3.1.6)
Requirement already satisfied: jupyter-lsp>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (2.2.5)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (2.15.0)
Requirement already satisfied: jupyterlab-server<3,>=2.27.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (2.27.3)
Requirement already satisfied: notebook-shim>=0.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.2.4)
Requirement already satisfied: setuptools>=40.8.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (78.0.2)
Requirement already satisfied: beautifulsoup4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (4.13.3)
Requirement already satisfied: bleach!=5.0.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from bleach[css]!=5.0.0->nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (6.2.0)
Requirement already satisfied: defusedxml in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.3.0)
Requirement already satisfied: markupsafe>=2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (3.0.2)
Requirement already satisfied: mistune<4,>=2.0.3 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (3.1.3)
Requirement already satisfied: nbclient>=0.5.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.10.2)
Requirement already satisfied: nbformat>=5.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (5.10.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (1.5.1)
Requirement already satisfied: webencodings in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from bleach!=5.0.0->bleach[css]!=5.0.0->nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.5.1)
Requirement already satisfied: tinycss2<1.5,>=1.1.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from bleach[css]!=5.0.0->nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (1.4.0)
Requirement already satisfied: anyio in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from httpx>=0.25.0->jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (4.9.0)
Requirement already satisfied: certifi in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from httpx>=0.25.0->jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (2025.1.31)
Requirement already satisfied: httpcore==1.* in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from httpx>=0.25.0->jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (1.0.7)
Requirement already satisfied: idna in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from httpx>=0.25.0->jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (3.10)
Requirement already satisfied: h11<0.15,>=0.13 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from httpcore==1.*->httpx>=0.25.0->jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.14.0)
Requirement already satisfied: decorator in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (1.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.19.2)
Requirement already satisfied: pexpect>4.3 in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (4.9.0)
Requirement already satisfied: stack_data in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.6.3)
Requirement already satisfied: argon2-cffi>=21.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (23.1.0)
Requirement already satisfied: jupyter-events>=0.11.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.12.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.5.3)
Requirement already satisfied: overrides>=5.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (7.7.0)
Requirement already satisfied: prometheus-client>=0.9 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.21.1)
Requirement already satisfied: send2trash>=1.8.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.18.1)
Requirement already satisfied: websocket-client>=1.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (1.8.0)
Requirement already satisfied: babel>=2.10 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (2.17.0)
Requirement already satisfied: json5>=0.9.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.10.0)
Requirement already satisfied: jsonschema>=4.18.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (4.23.0)
Requirement already satisfied: requests>=2.31 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter<2.0.0,>=1.0.0->funpymodeling) (2.32.3)
Requirement already satisfied: fastjsonschema>=2.15 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from nbformat>=5.7->nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (2.21.1)
Requirement already satisfied: wcwidth in /Users/diegomatiasr/Library/Python/3.12/lib/python/site-packages (from prompt-toolkit>=3.0.30->jupyter-console->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.2.13)
Requirement already satisfied: soupsieve>1.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from beautifulsoup4->nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (2.6)

In [121]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from funpymodeling.exploratory import freq_tbl

In [122]:
%pip install openpyxl

Requirement already satisfied: openpyxl in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: pip3.12 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [123]:
# Carga desde un archivo .csv sin índice
data = pd.read_csv("Sicily.csv")
data.head(5)

,Unnamed: 0,name,description,neighborhood_overview,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_communication.1,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,reviews_per_month
0,0,SEASIDE - Historic Antique Residence,WINEYARD WITH COLOURS OF THE SEASIDE.<br /><br...,NaN,Yumi Adriano,13/05/09,"Sicily, Italy","Hi, this is Yumi, I am a Japanese, I speak Ja...",NaN,NaN,...,4.69,4.66,4.86,4.83,4.72,4.72,4.59,10,10,0.18
1,1,BnB center near station with balcony and break...,Near the Central Station and the beginning of ...,"The neighborhood is in a residential area, cen...",Giuseppe,05/03/10,"Agrigento, Italy","Di carattere tranquillo e dinamico, sposato, c...",within an hour,100%,...,4.80,4.87,4.89,4.85,4.81,4.81,4.85,3,0,2.48
2,2,Etna-sea a panoramic villa,"Our country house, swathed in the greenery of ...","Contact with nature, relaxation, remarkable pa...",Serena,24/06/10,"Piedimonte Etneo, Italy",.,within a few hours,100%,...,4.79,4.82,4.83,4.89,4.81,4.81,4.76,5,5,0.90
3,3,Two steps from the sea,Very nice flat in front of the beach with a wo...,NaN,Gaspare,05/08/10,"Trapani, Italy",Managing parents' houses in Trapani and in San...,within an hour,100%,...,4.68,4.78,4.57,4.97,4.94,4.94,4.64,2,2,0.49
4,4,Villa Verdemare,Wonderful villa that can easily accommodate up...,NaN,Gaspare,05/08/10,"Trapani, Italy",Managing parents' houses in Trapani and in San...,within an hour,100%,...,4.85,4.82,4.69,4.99,4.92,4.92,4.72,2,2,0.46

In [124]:
# Identificar valores nulos por columna

valores_nulos = data.isnull().sum()
valores_nulos

Unnamed: 0                                         0
name                                               0
description                                     1791
neighborhood_overview                          31725
host_name                                          3
host_since                                         3
host_location                                  19123
host_about                                     35860
host_response_time                             21959
host_response_rate                             21959
host_acceptance_rate                           10493
host_is_superhost                               1062
host_listings_count                                3
host_total_listings_count                          3
host_has_profile_pic                               3
host_identity_verified                             3
neighbourhood                                  31724
latitude                                           0
longitude                                          0
property_type                                      0
room_type                                          0
accommodates                                       0
bathrooms                                       6359
bedrooms                                         798
beds                                            6390
amenities                                          0
price                                           6347
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             0
maximum_maximum_nights                             0
has_availability                                1326
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
first_review                                   17221
last_review                                    17221
review_scores_rating                           17221
review_scores_accuracy                         17229
review_scores_cleanliness                      17228
review_scores_checkin                          17234
review_scores_communication                    17232
review_scores_communication.1                  17232
review_scores_value                            17237
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
reviews_per_month                              17221
dtype: int64

In [125]:
# Eliminar filas con nulos
# No se agrega nada para eliminar filas y 1 para eliminar columnas
data1 = data.dropna()
data1

,Unnamed: 0,name,description,neighborhood_overview,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_communication.1,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,reviews_per_month
1,1,BnB center near station with balcony and break...,Near the Central Station and the beginning of ...,"The neighborhood is in a residential area, cen...",Giuseppe,05/03/10,"Agrigento, Italy","Di carattere tranquillo e dinamico, sposato, c...",within an hour,100%,...,4.80,4.87,4.89,4.85,4.81,4.81,4.85,3,0,2.48
2,2,Etna-sea a panoramic villa,"Our country house, swathed in the greenery of ...","Contact with nature, relaxation, remarkable pa...",Serena,24/06/10,"Piedimonte Etneo, Italy",.,within a few hours,100%,...,4.79,4.82,4.83,4.89,4.81,4.81,4.76,5,5,0.90
5,5,Penthouse Cordari Ortigia Island,Stylish penthouse in the earth of the historic...,From a charm of a painting of Caravaggio or An...,Francesco,09/08/10,"Syracuse, Italy",We know which wonderful things Syracuse and So...,within an hour,100%,...,4.81,4.84,4.84,4.85,4.88,4.88,4.78,2,2,1.04
10,10,B&B Bianco e Blu - in the centre - 50m by the sea,The Bed and Breakfast ‘Bianco E Blu’ is locate...,The B&B is in a perfect position:<br />50m to ...,Alessandro,30/03/11,"Marina di Ragusa, Italy",Italian and English description\n_____________...,within an hour,100%,...,4.92,4.92,4.92,5.00,4.85,4.85,4.92,14,10,0.28
16,16,Vecchia Girgenti Short Lets,"""Vecchia Girgenti"" is on the hill of Old Girge...",The neighborhood is very quiet and friendly. S...,Antonio,13/08/10,"Agrigento, Italy","I live in Agrigento, Sicily. Famous greek poet...",within an hour,100%,...,4.70,4.85,4.68,4.89,4.94,4.94,4.72,1,1,3.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55362,55362,Relax and Comfort in a welcoming home in Catania.,Welcome to your home in Catania!<br />Spacious...,Area well served by many essential commercial ...,Grazia,25/05/20,"Catania, Italy",Preciso maniacalmente nel tenere pulito l'appa...,within an hour,100%,...,4.94,4.88,5.00,4.94,4.94,4.94,4.94,1,1,5.05
55486,55486,SUN VITO - Casa Vacanze vicino la Spiaggia,"Casa Vacanze in San Vito Lo Capo, near the bea...",The villa is a short walk from the famous beac...,Beatrice,22/09/17,"Palermo, Italy","Sono un insegnante di lingue, amo viaggiare e ...",within an hour,100%,...,5.00,5.00,5.00,5.00,5.00,5.00,5.00,1,1,0.76
55645,55645,Eleven Luxury Suite,Eleven Luxury Suite is a refined three-level a...,Nestled in the heart of Palermo’s historic cen...,Ernesto,10/04/24,"Palermo, Italy","Benvenuti da Accura - Gestione Affitti Brevi, ...",within an hour,100%,...,5.00,5.00,5.00,5.00,5.00,5.00,5.00,2,2,2.50
55666,55666,Marina Home - luxury appartament - centro storico,A luxury oasis in the heart of Catania. In th...,The house is in the heart of the historic cent...,Simone,20/09/24,"Catania, Italy",Adoro accogliere i miei ospiti e offrire loro ...,within an hour,100%,...,5.00,5.00,5.00,5.00,5.00,5.00,4.67,1,1,1.41
55817,55817,La Giostra del Massimo,Located in Palermo 20m from the Teatro Massimo...,Located in the most central area of ​​the enti...,Michele,06/01/14,"Palermo, Italy",Appassionato di viaggi e grande esploratore di...,within an hour,100%,...,5.00,5.00,5.00,5.00,5.00,5.00,5.00,1,1,0.56

In [126]:
# Identificar valores nulos por columna

valores_nulos = data1.isnull().sum()
valores_nulos

Unnamed: 0                                     0
name                                           0
description                                    0
neighborhood_overview                          0
host_name                                      0
host_since                                     0
host_location                                  0
host_about                                     0
host_response_time                             0
host_response_rate                             0
host_acceptance_rate                           0
host_is_superhost                              0
host_listings_count                            0
host_total_listings_count                      0
host_has_profile_pic                           0
host_identity_verified                         0
neighbourhood                                  0
latitude                                       0
longitude                                      0
property_type                                  0
room_type                                      0
accommodates                                   0
bathrooms                                      0
bedrooms                                       0
beds                                           0
amenities                                      0
price                                          0
minimum_nights                                 0
maximum_nights                                 0
minimum_minimum_nights                         0
maximum_maximum_nights                         0
has_availability                               0
availability_30                                0
availability_60                                0
availability_90                                0
availability_365                               0
number_of_reviews                              0
number_of_reviews_ltm                          0
number_of_reviews_l30d                         0
first_review                                   0
last_review                                    0
review_scores_rating                           0
review_scores_accuracy                         0
review_scores_cleanliness                      0
review_scores_checkin                          0
review_scores_communication                    0
review_scores_communication.1                  0
review_scores_value                            0
calculated_host_listings_count                 0
calculated_host_listings_count_entire_homes    0
reviews_per_month                              0
dtype: int64

In [127]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6049 entries, 1 to 55817
Data columns (total 51 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Unnamed: 0                                   6049 non-null   int64
 1   name                                         6049 non-null   object
 2   description                                  6049 non-null   object
 3   neighborhood_overview                        6049 non-null   object
 4   host_name                                    6049 non-null   object
 5   host_since                                   6049 non-null   object
 6   host_location                                6049 non-null   object
 7   host_about                                   6049 non-null   object
 8   host_response_time                           6049 non-null   object
 9   host_response_rate                           6049 non-null   object
 10  host_acceptance_rate                         6049 non-null   object
 11  host_is_superhost                            6049 non-null   object
 12  host_listings_count                          6049 non-null   float64
 13  host_total_listings_count                    6049 non-null   float64
 14  host_has_profile_pic                         6049 non-null   object
 15  host_identity_verified                       6049 non-null   object
 16  neighbourhood                                6049 non-null   object
 17  latitude                                     6049 non-null   float64
 18  longitude                                    6049 non-null   float64
 19  property_type                                6049 non-null   object
 20  room_type                                    6049 non-null   object
 21  accommodates                                 6049 non-null   int64
 22  bathrooms                                    6049 non-null   float64
 23  bedrooms                                     6049 non-null   float64
 24  beds                                         6049 non-null   float64
 25  amenities                                    6049 non-null   object
 26  price                                        6049 non-null   object
 27  minimum_nights                               6049 non-null   int64
 28  maximum_nights                               6049 non-null   int64
 29  minimum_minimum_nights                       6049 non-null   int64
 30  maximum_maximum_nights                       6049 non-null   int64
 31  has_availability                             6049 non-null   object
 32  availability_30                              6049 non-null   int64
 33  availability_60                              6049 non-null   int64
 34  availability_90                              6049 non-null   int64
 35  availability_365                             6049 non-null   int64
 36  number_of_reviews                            6049 non-null   int64
 37  number_of_reviews_ltm                        6049 non-null   int64
 38  number_of_reviews_l30d                       6049 non-null   int64
 39  first_review                                 6049 non-null   object
 40  last_review                                  6049 non-null   object
 41  review_scores_rating                         6049 non-null   float64
 42  review_scores_accuracy                       6049 non-null   float64
 43  review_scores_cleanliness                    6049 non-null   float64
 44  review_scores_checkin                        6049 non-null   float64
 45  review_scores_communication                  6049 non-null   float64
 46  review_scores_communication.1                6049 non-null   float64
 47  review_scores_value                          6049 non-null   float64
 48  calculated_host_listings_count               6049 non-null   int64
 49  calculated_host_listings_count_entire_homes  6049 non-null   int64
 50  reviews_per_month                            6049 non-null   float64
dtypes: float64(15), int64(15), object(21)
memory usage: 2.4+ MB

# Análisis univariado

## Description

In [128]:
table1= freq_tbl(data1["description"])
table1

,description,frequency,percentage,cumulative_perc
0,"Welcome to the heart of Cefalù, a few steps fr...",6,0.000992,0.000992
1,Agriturismo Sant’Elia is situated just a few m...,6,0.000992,0.001984
2,The residence is a magical place located in a ...,6,0.000992,0.002976
3,The house is located within a historic citrus ...,5,0.000827,0.003802
4,Villa Flavia Eco B&B is located in a cove call...,5,0.000827,0.004629
...,...,...,...,...
5718,"The villa is an oasis of peace, situated in th...",1,0.000165,0.999339
5719,The house is fully furnished and has all the c...,1,0.000165,0.999504
5720,"The house is on two floors, on the ground floo...",1,0.000165,0.999669
5721,The house overlooks a wide open space with an ...,1,0.000165,0.999835
5722,Located in Palermo 20m from the Teatro Massimo...,1,0.000165,1.000000

In [129]:
table1= table1.drop(['percentage','cumulative_perc'], axis=1)
table1

                                            description  frequency
0     Welcome to the heart of Cefalù, a few steps fr...          6
1     Agriturismo Sant’Elia is situated just a few m...          6
2     The residence is a magical place located in a ...          6
3     The house is located within a historic citrus ...          5
4     Villa Flavia Eco B&B is located in a cove call...          5
...                                                 ...        ...
5718  The villa is an oasis of peace, situated in th...          1
5719  The house is fully furnished and has all the c...          1
5720  The house is on two floors, on the ground floo...          1
5721  The house overlooks a wide open space with an ...          1
5722  Located in Palermo 20m from the Teatro Massimo...          1

[5723 rows x 2 columns]

## name

In [130]:
table2 = freq_tbl(data1["name"])
table2

,name,frequency,percentage,cumulative_perc
0,[Fronte mare] Superior camera immersa nel verde,7,0.001157,0.001157
1,Residence Andrea Doria - 100m by the sea -1° F...,4,0.000661,0.001818
2,NITI - Design apartment - Castellammare/Centro,4,0.000661,0.002480
3,Hybla Major B&B- Camera matrimoniale bagno pri...,3,0.000496,0.002976
4,Borgo Marino Beach Residence - 250 mt dal mare,3,0.000496,0.003472
...,...,...,...,...
5981,casa fondachello,1,0.000165,0.999339
5982,Casa al Vallone,1,0.000165,0.999504
5983,incantevole appartamento,1,0.000165,0.999669
5984,Naxos - Panoramic studio in front of the beach.,1,0.000165,0.999835
5985,La Giostra del Massimo,1,0.000165,1.000000

In [131]:
table2= table2.drop(['percentage','cumulative_perc'], axis=1)
table2

                                                   name  frequency
0       [Fronte mare] Superior camera immersa nel verde          7
1     Residence Andrea Doria - 100m by the sea -1° F...          4
2        NITI - Design apartment - Castellammare/Centro          4
3     Hybla Major B&B- Camera matrimoniale bagno pri...          3
4        Borgo Marino Beach Residence - 250 mt dal mare          3
...                                                 ...        ...
5981                                   casa fondachello          1
5982                                    Casa al Vallone          1
5983                           incantevole appartamento          1
5984    Naxos - Panoramic studio in front of the beach.          1
5985                             La Giostra del Massimo          1

[5986 rows x 2 columns]

## host_acceptance_rate

In [132]:
table3 = freq_tbl(data1["host_acceptance_rate"])
table3

   host_acceptance_rate  frequency  percentage  cumulative_perc
0                  100%       3834    0.633824         0.633824
1                   99%        263    0.043478         0.677302
2                   98%        196    0.032402         0.709704
3                   97%        182    0.030088         0.739792
4                   96%        131    0.021656         0.761448
..                  ...        ...         ...              ...
86                  23%          1    0.000165         0.999339
87                  14%          1    0.000165         0.999504
88                   4%          1    0.000165         0.999669
89                  27%          1    0.000165         0.999835
90                  37%          1    0.000165         1.000000

[91 rows x 4 columns]

In [133]:
table3= table3.drop(['percentage','cumulative_perc'], axis=1)
table3

   host_acceptance_rate  frequency
0                  100%       3834
1                   99%        263
2                   98%        196
3                   97%        182
4                   96%        131
..                  ...        ...
86                  23%          1
87                  14%          1
88                   4%          1
89                  27%          1
90                  37%          1

[91 rows x 2 columns]

## host_is_superhost

In [134]:
table4 = freq_tbl(data1["host_acceptance_rate"])
table4

   host_acceptance_rate  frequency  percentage  cumulative_perc
0                  100%       3834    0.633824         0.633824
1                   99%        263    0.043478         0.677302
2                   98%        196    0.032402         0.709704
3                   97%        182    0.030088         0.739792
4                   96%        131    0.021656         0.761448
..                  ...        ...         ...              ...
86                  23%          1    0.000165         0.999339
87                  14%          1    0.000165         0.999504
88                   4%          1    0.000165         0.999669
89                  27%          1    0.000165         0.999835
90                  37%          1    0.000165         1.000000

[91 rows x 4 columns]

In [135]:
table4= table4.drop(['percentage','cumulative_perc'], axis=1)
table4

   host_acceptance_rate  frequency
0                  100%       3834
1                   99%        263
2                   98%        196
3                   97%        182
4                   96%        131
..                  ...        ...
86                  23%          1
87                  14%          1
88                   4%          1
89                  27%          1
90                  37%          1

[91 rows x 2 columns]

## host_location

In [136]:
table5 = freq_tbl(data1["host_acceptance_rate"])
table5

   host_acceptance_rate  frequency  percentage  cumulative_perc
0                  100%       3834    0.633824         0.633824
1                   99%        263    0.043478         0.677302
2                   98%        196    0.032402         0.709704
3                   97%        182    0.030088         0.739792
4                   96%        131    0.021656         0.761448
..                  ...        ...         ...              ...
86                  23%          1    0.000165         0.999339
87                  14%          1    0.000165         0.999504
88                   4%          1    0.000165         0.999669
89                  27%          1    0.000165         0.999835
90                  37%          1    0.000165         1.000000

[91 rows x 4 columns]

In [137]:
table5= table5.drop(['percentage','cumulative_perc'], axis=1)
table5

   host_acceptance_rate  frequency
0                  100%       3834
1                   99%        263
2                   98%        196
3                   97%        182
4                   96%        131
..                  ...        ...
86                  23%          1
87                  14%          1
88                   4%          1
89                  27%          1
90                  37%          1

[91 rows x 2 columns]

## host_since

In [138]:
table6 = freq_tbl(data1["host_acceptance_rate"])
table6

   host_acceptance_rate  frequency  percentage  cumulative_perc
0                  100%       3834    0.633824         0.633824
1                   99%        263    0.043478         0.677302
2                   98%        196    0.032402         0.709704
3                   97%        182    0.030088         0.739792
4                   96%        131    0.021656         0.761448
..                  ...        ...         ...              ...
86                  23%          1    0.000165         0.999339
87                  14%          1    0.000165         0.999504
88                   4%          1    0.000165         0.999669
89                  27%          1    0.000165         0.999835
90                  37%          1    0.000165         1.000000

[91 rows x 4 columns]

In [139]:
table6= table6.drop(['percentage','cumulative_perc'], axis=1)
table6

   host_acceptance_rate  frequency
0                  100%       3834
1                   99%        263
2                   98%        196
3                   97%        182
4                   96%        131
..                  ...        ...
86                  23%          1
87                  14%          1
88                   4%          1
89                  27%          1
90                  37%          1

[91 rows x 2 columns]

## host_response_time

In [140]:
table7 = freq_tbl(data1["host_acceptance_rate"])
table7

   host_acceptance_rate  frequency  percentage  cumulative_perc
0                  100%       3834    0.633824         0.633824
1                   99%        263    0.043478         0.677302
2                   98%        196    0.032402         0.709704
3                   97%        182    0.030088         0.739792
4                   96%        131    0.021656         0.761448
..                  ...        ...         ...              ...
86                  23%          1    0.000165         0.999339
87                  14%          1    0.000165         0.999504
88                   4%          1    0.000165         0.999669
89                  27%          1    0.000165         0.999835
90                  37%          1    0.000165         1.000000

[91 rows x 4 columns]

In [141]:
table7= table7.drop(['percentage','cumulative_perc'], axis=1)
table7

   host_acceptance_rate  frequency
0                  100%       3834
1                   99%        263
2                   98%        196
3                   97%        182
4                   96%        131
..                  ...        ...
86                  23%          1
87                  14%          1
88                   4%          1
89                  27%          1
90                  37%          1

[91 rows x 2 columns]

## host_response_rate

In [142]:
table8 = freq_tbl(data1["host_acceptance_rate"])
table8

   host_acceptance_rate  frequency  percentage  cumulative_perc
0                  100%       3834    0.633824         0.633824
1                   99%        263    0.043478         0.677302
2                   98%        196    0.032402         0.709704
3                   97%        182    0.030088         0.739792
4                   96%        131    0.021656         0.761448
..                  ...        ...         ...              ...
86                  23%          1    0.000165         0.999339
87                  14%          1    0.000165         0.999504
88                   4%          1    0.000165         0.999669
89                  27%          1    0.000165         0.999835
90                  37%          1    0.000165         1.000000

[91 rows x 4 columns]

In [143]:
table8= table8.drop(['percentage','cumulative_perc'], axis=1)
table8

   host_acceptance_rate  frequency
0                  100%       3834
1                   99%        263
2                   98%        196
3                   97%        182
4                   96%        131
..                  ...        ...
86                  23%          1
87                  14%          1
88                   4%          1
89                  27%          1
90                  37%          1

[91 rows x 2 columns]

## property_type

In [144]:
table9 = freq_tbl(data1["host_acceptance_rate"])
table9

   host_acceptance_rate  frequency  percentage  cumulative_perc
0                  100%       3834    0.633824         0.633824
1                   99%        263    0.043478         0.677302
2                   98%        196    0.032402         0.709704
3                   97%        182    0.030088         0.739792
4                   96%        131    0.021656         0.761448
..                  ...        ...         ...              ...
86                  23%          1    0.000165         0.999339
87                  14%          1    0.000165         0.999504
88                   4%          1    0.000165         0.999669
89                  27%          1    0.000165         0.999835
90                  37%          1    0.000165         1.000000

[91 rows x 4 columns]

In [145]:
table9= table9.drop(['percentage','cumulative_perc'], axis=1)
table9

   host_acceptance_rate  frequency
0                  100%       3834
1                   99%        263
2                   98%        196
3                   97%        182
4                   96%        131
..                  ...        ...
86                  23%          1
87                  14%          1
88                   4%          1
89                  27%          1
90                  37%          1

[91 rows x 2 columns]

In [146]:
index9= table9.set_index('property_type')
index9

KeyError: "None of ['property_type'] are in the columns"

In [ ]:
index9["frequency"].plot(kind="pie", figsize=(10,5),shadow=True, autopct="%0.1f%%")

## neighbourhood

In [ ]:
table10 = freq_tbl(data1["host_acceptance_rate"])
table10

   host_acceptance_rate  frequency  percentage  cumulative_perc
0                  100%       3834    0.633824         0.633824
1                   99%        263    0.043478         0.677302
2                   98%        196    0.032402         0.709704
3                   97%        182    0.030088         0.739792
4                   96%        131    0.021656         0.761448
..                  ...        ...         ...              ...
86                  23%          1    0.000165         0.999339
87                  14%          1    0.000165         0.999504
88                   4%          1    0.000165         0.999669
89                  27%          1    0.000165         0.999835
90                  37%          1    0.000165         1.000000

[91 rows x 4 columns]

In [ ]:
table10= table10.drop(['percentage','cumulative_perc'], axis=1)
table10

   host_acceptance_rate  frequency
0                  100%       3834
1                   99%        263
2                   98%        196
3                   97%        182
4                   96%        131
..                  ...        ...
86                  23%          1
87                  14%          1
88                   4%          1
89                  27%          1
90                  37%          1

[91 rows x 2 columns]

# Categorizar aplicando la regla de Sturges

## host_response_rate

In [ ]:
data1["host_response_rate"].info()
n=5865

<class 'pandas.core.series.Series'>
Index: 6049 entries, 1 to 55817
Series name: host_response_rate
Non-Null Count  Dtype
--------------  -----
6049 non-null   object
dtypes: object(1)
memory usage: 94.5+ KB

In [ ]:
Max=data1["host_response_rate"].max()
Min=data1["host_response_rate"].min()
Limites=[Min,Max]
Limites

['0%', '99%']

In [ ]:
ni= 1+3.32*np.log10(n)
ni

13.51064981461914

## host_acceptance_rate

In [ ]:
data1["host_acceptance_rate"].info()
n=5865

<class 'pandas.core.series.Series'>
Index: 6049 entries, 1 to 55817
Series name: host_acceptance_rate
Non-Null Count  Dtype
--------------  -----
6049 non-null   object
dtypes: object(1)
memory usage: 94.5+ KB

In [ ]:
Max=data1["host_acceptance_rate"].max()
Min=data1["host_acceptance_rate"].min()
Limites=[Min,Max]
Limites

['0%', '99%']

## host_total_listings_count

In [ ]:
data1["host_total_listings_count"].info()
n=5865

In [ ]:
Max=data1["host_total_listings_count"].max()
Min=data1["host_total_listings_count"].min()
Limites=[Min,Max]
Limites

[1.0, 1227.0]

## accommodates

In [ ]:
data1["accommodates"].info()
n=5865

<class 'pandas.core.series.Series'>
Index: 6049 entries, 1 to 55817
Series name: accommodates
Non-Null Count  Dtype
--------------  -----
6049 non-null   int64
dtypes: int64(1)
memory usage: 94.5 KB

In [ ]:
Max=data1["accommodates"].max()
Min=data1["accommodates"].min()
Limites=[Min,Max]
Limites

[1, 16]

## bathrooms

In [ ]:
data1["bathrooms"].info()
n=5865

<class 'pandas.core.series.Series'>
Index: 6049 entries, 1 to 55817
Series name: bathrooms
Non-Null Count  Dtype
--------------  -----
6049 non-null   float64
dtypes: float64(1)
memory usage: 94.5 KB

In [ ]:
Max=data1["bathrooms"].max()
Min=data1["bathrooms"].min()
Limites=[Min,Max]
Limites

[0.0, 12.0]

## beds

In [ ]:
data1["beds"].info()
n=5865

<class 'pandas.core.series.Series'>
Index: 6049 entries, 1 to 55817
Series name: beds
Non-Null Count  Dtype
--------------  -----
6049 non-null   float64
dtypes: float64(1)
memory usage: 94.5 KB

In [ ]:
Max=data1["beds"].max()
Min=data1["beds"].min()
Limites=[Min,Max]
Limites

[0.0, 22.0]

## price

In [147]:
data1["price"].info()
n=5865

<class 'pandas.core.series.Series'>
Index: 6049 entries, 1 to 55817
Series name: price
Non-Null Count  Dtype
--------------  -----
6049 non-null   object
dtypes: object(1)
memory usage: 94.5+ KB

In [148]:
Max=data1["price"].max()
Min=data1["price"].min()
Limites=[Min,Max]
Limites

['$1,000.00', '$994.00']

## maximum_nights

In [149]:
data1["maximum_nights"].info()
n=5865

<class 'pandas.core.series.Series'>
Index: 6049 entries, 1 to 55817
Series name: maximum_nights
Non-Null Count  Dtype
--------------  -----
6049 non-null   int64
dtypes: int64(1)
memory usage: 94.5 KB

In [150]:
Max=data1["maximum_nights"].max()
Min=data1["maximum_nights"].min()
Limites=[Min,Max]
Limites

[1, 1125]

## availability_365

In [151]:
data1["availability_365"].info()
n=5865

<class 'pandas.core.series.Series'>
Index: 6049 entries, 1 to 55817
Series name: availability_365
Non-Null Count  Dtype
--------------  -----
6049 non-null   int64
dtypes: int64(1)
memory usage: 94.5 KB

In [152]:
Max=data1["availability_365"].max()
Min=data1["availability_365"].min()
Limites=[Min,Max]
Limites

[0, 365]

## number_of_reviews

In [153]:
data1["number_of_reviews"].info()
n=5865

<class 'pandas.core.series.Series'>
Index: 6049 entries, 1 to 55817
Series name: number_of_reviews
Non-Null Count  Dtype
--------------  -----
6049 non-null   int64
dtypes: int64(1)
memory usage: 94.5 KB

In [154]:
Max=data1["number_of_reviews"].max()
Min=data1["number_of_reviews"].min()
Limites=[Min,Max]
Limites

[1, 845]

## reviews_scores_value

In [ ]:
data1["reviews_scores_value"].info()
n=5865

In [ ]:
Max=data1["reviews_scores_value"].max()
Min=data1["reviews_scores_value"].min()
Limites=[Min,Max]
Limites

## number_of_reviews

In [157]:
data1["number_of_reviews"].info()
n=5865

<class 'pandas.core.series.Series'>
Index: 6049 entries, 1 to 55817
Series name: number_of_reviews
Non-Null Count  Dtype
--------------  -----
6049 non-null   int64
dtypes: int64(1)
memory usage: 94.5 KB

In [158]:
Max=data1["number_of_reviews"].max()
Min=data1["number_of_reviews"].min()
Limites=[Min,Max]
Limites

[1, 845]